body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    // background-color: ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    cursor: pointer;
}









































































